body {
  background-image: url(assets/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg);
  text-align: center;
  background-size: cover;
  color: white;
  font-family: "Orbitron", sans-serif;
}
.apply-btn {
  font-family: "Orbitron", sans-serif;
  background: white;
  border: none;
  padding: 5px 15px;
  font-size: 15px;
}
.span-underline {
  border-bottom: 5px solid white;
}
