body {
  background-image: url(assets/images/giphy.webp);
  text-align: center;
  background-size: cover;
  color: #82a5ca;
  font-family: "Orbitron", sans-serif;
}
.apply-btn {
  font-family: "Orbitron", sans-serif;
  background: white;
  border: none;
  padding: 5px 15px;
  font-weight: 800;
  color: #82a5ca;
}
.span-underline {
  border-bottom: 5px solid white;
}
